<h3>Multilink</h3>

<div class="bd-example">
  <it25-footer acronym="ACCREDITAS" applicationName="Sistema di accreditamento">
    <ng-container multilink>
      <div class="it-footer-main">
        <div class="container-fluid">
          <section>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6 pb-2">
                <h5>
                  <a href="#" title="Vai alla pagina: Amministrazione">Amministrazione</a>
                </h5>
                <div class="link-list-wrapper">
                  <ul class="footer-list link-list clearfix">
                    <li><a class="list-item" href="#" title="Vai alla pagina: Giunta e consiglio">Giunta e consiglio</a></li>
                    <li><a class="list-item" href="#" title="Vai alla pagina: Aree di competenza">Aree di competenza</a></li>
                    <li><a class="list-item" href="#" title="Vai alla pagina: Dipendenti">Dipendenti</a></li>
                    <li><a class="list-item" href="#" title="Vai alla pagina: Luoghi">Luoghi</a></li>
                    <li>
                      <a class="list-item" href="#" title="Vai alla pagina: Associazioni e società partecipate">
                        Associazioni e società partecipate
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 pb-2">
                <h5>
                  <a href="#" title="Vai alla pagina: Servizi">Servizi</a>
                </h5>
                <div class="link-list-wrapper">
                  <ul class="footer-list link-list clearfix">
                    <li><a class="list-item" href="#" title="Vai alla pagina: Pagamenti">Pagamenti</a></li>
                    <li><a class="list-item" href="#" title="Vai alla pagina: Sostegno">Sostegno</a></li>
                    <li><a class="list-item" href="#" title="Vai alla pagina: Domande e iscrizioni">Domande e iscrizioni</a></li>
                    <li><a class="list-item" href="#" title="Vai alla pagina: Segnalazioni">Segnalazioni</a></li>
                    <li>
                      <a class="list-item" href="#" title="Vai alla pagina: Autorizzazioni e concessioni">Autorizzazioni e concessioni</a>
                    </li>
                    <li>
                      <a class="list-item" href="#" title="Vai alla pagina: Certificati e dichiarazioni">Certificati e dichiarazioni</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 pb-2">
                <h5>
                  <a href="#" title="Vai alla pagina: Novità">Novità</a>
                </h5>
                <div class="link-list-wrapper">
                  <ul class="footer-list link-list clearfix">
                    <li><a class="list-item" href="#" title="Vai alla pagina: Notizie">Notizie</a></li>
                    <li><a class="list-item" href="#" title="Vai alla pagina: Eventi">Eventi</a></li>
                    <li><a class="list-item" href="#" title="Vai alla pagina: Comunicati stampa">Comunicati stampa</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <h5>
                  <a href="#" title="Vai alla pagina: Documenti">Documenti</a>
                </h5>
                <div class="link-list-wrapper">
                  <ul class="footer-list link-list clearfix">
                    <li><a class="list-item" href="#" title="Vai alla pagina: Progetti e attività">Progetti e attività</a></li>
                    <li>
                      <a class="list-item" href="#" title="Vai alla pagina: Delibere, determine e ordinanze">
                        Delibere, determine e ordinanze
                      </a>
                    </li>
                    <li><a class="list-item" href="#" title="Vai alla pagina: Bandi">Bandi</a></li>
                    <li><a class="list-item" href="#" title="Vai alla pagina: Concorsi">Concorsi</a></li>
                    <li><a class="list-item" href="#" title="Vai alla pagina: Albo pretorio">Albo pretorio</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </ng-container>
  </it25-footer>
</div>
