<it25-header [loginStyle]="login" menuStyle="vertical" [showSearch]="search" [megamenu]="true">
  <ng-container slimRightZone>
    <it-language-switcher mode="nav"></it-language-switcher>
  </ng-container>
  <ng-container userSettings>
    <it-dropdown mode="nav">
      <span button>
        <svg class="icon icon-white"><use xlink:href="bootstrap-lombardia/dist/svg/sprites.svg#it-user"></use></svg>
        <strong>Utente/ruolo</strong>
      </span>
      <ng-container list>
        <li itDropdownItem>Dati Profilo</li>
        <li itDropdownItem>Impostazioni</li>
        <li itDropdownItem>Disconnetti</li>
      </ng-container>
    </it-dropdown>
  </ng-container>
  <ng-container brand>
    <a href="#">
      <img src="bootstrap-lombardia/dist/assets/img/logo-rl.png" alt="logo regione lombardia" class="it25-header-logo d-none d-md-block" />
      <div class="it-brand-text">ACRONIMO <span class="d-none d-lg-inline">Nome applicativo</span></div>
    </a>
  </ng-container>
  <div class="d-none d-md-flex" rightZone></div>
  <ng-container verticalNavItems>
    <div id="it25-menu-vert">
      <nav class="it25-vertical-menu" id="it25-main-nav">
        <it-sidebar>
          <it-list linkList="true">
            <li itListItem>
              <it-list linkList="true">
                <li itListItem iconRight="true">
                  <a
                    class="list-item large medium icon-right"
                    role="button"
                    tabindex="0"
                    [attr.aria-expanded]="itCollapse0.isOpen()"
                    (click)="itCollapse0.toggle()"
                    (keydown)="itCollapse0.toggle()">
                    <span class="list-item-title-icon-wrapper">
                      <span class="list-item-title">Link lista collassabile</span>
                      <it-icon name="expand" color="primary"></it-icon>
                    </span>
                  </a>
                  <it-collapse #itCollapse0="itCollapse">
                    <it-list linkSubList="true" action>
                      <li itListItem href="#" externalLink="true">
                        <span class="text">Link lista 1</span>
                      </li>
                      <li itListItem href="#" externalLink="true">
                        <span class="text">Link lista 2</span>
                      </li>
                      <li itListItem href="#" externalLink="true">
                        <span class="text">Link lista 3</span>
                      </li>
                    </it-list>
                  </it-collapse>
                </li>
              </it-list>
            </li>
            <li itListItem>
              <it-list linkList="true">
                <li itListItem iconRight="true">
                  <a
                    class="list-item large medium icon-right"
                    role="button"
                    tabindex="0"
                    [attr.aria-expanded]="itCollapse1.isOpen()"
                    (click)="itCollapse1.toggle()"
                    (keydown)="itCollapse1.toggle()">
                    <span class="list-item-title-icon-wrapper">
                      <span class="list-item-title">Link lista collassabile</span>
                      <it-icon name="expand" color="primary"></it-icon>
                    </span>
                  </a>
                  <it-collapse #itCollapse1="itCollapse" opened="true">
                    <it-list linkSubList="true" action>
                      <li itListItem href="#" externalLink="true">
                        <span class="text">Link lista 1</span>
                      </li>
                      <li itListItem href="#" externalLink="true">
                        <span class="text">Link lista 2</span>
                      </li>
                      <li itListItem href="#" externalLink="true">
                        <span class="text">Link lista 3</span>
                      </li>
                    </it-list>
                  </it-collapse>
                </li>
              </it-list>
            </li>
            <li itListItem>
              <it-list linkList="true">
                <li itListItem iconRight="true">
                  <a
                    class="list-item large medium icon-right active"
                    role="button"
                    tabindex="0"
                    [attr.aria-expanded]="itCollapse2.isOpen()"
                    (click)="itCollapse2.toggle()"
                    (keydown)="itCollapse2.toggle()">
                    <span class="list-item-title-icon-wrapper">
                      <span class="list-item-title">Link lista collassabile</span>
                      <it-icon name="expand" color="primary"></it-icon>
                    </span>
                  </a>
                  <it-collapse #itCollapse2="itCollapse" opened="true">
                    <it-list linkSubList="true" action>
                      <li itListItem href="#" externalLink="true">
                        <span class="text">Link lista 1</span>
                      </li>
                      <li itListItem href="#" externalLink="true">
                        <span class="text">Link lista 2</span>
                      </li>
                      <li itListItem href="#" externalLink="true">
                        <span class="text">Link lista 3</span>
                      </li>
                    </it-list>
                  </it-collapse>
                </li>
              </it-list>
            </li>
            <li itListItem>
              <it-list linkList="true">
                <li itListItem iconRight="true">
                  <a
                    class="list-item large medium icon-right"
                    role="button"
                    tabindex="0"
                    [attr.aria-expanded]="itCollapse3.isOpen()"
                    (click)="itCollapse3.toggle()"
                    (keydown)="itCollapse3.toggle()">
                    <span class="list-item-title-icon-wrapper">
                      <span class="list-item-title">Link lista collassabile</span>
                      <it-icon name="expand" color="primary"></it-icon>
                    </span>
                  </a>
                  <it-collapse #itCollapse3="itCollapse" opened="true">
                    <it-list linkSubList="true" action>
                      <li itListItem href="#" externalLink="true">
                        <span class="text">Link lista 1</span>
                      </li>
                      <li itListItem href="#" externalLink="true">
                        <span class="text">Link lista 2</span>
                      </li>
                      <li itListItem href="#" externalLink="true">
                        <span class="text">Link lista 3</span>
                      </li>
                    </it-list>
                  </it-collapse>
                </li>
              </it-list>
            </li>
            <li itListItem>
              <it-list linkList="true">
                <li itListItem iconRight="true">
                  <a
                    class="list-item large medium icon-right"
                    role="button"
                    tabindex="0"
                    [attr.aria-expanded]="itCollapse4.isOpen()"
                    (click)="itCollapse4.toggle()"
                    (keydown)="itCollapse4.toggle()">
                    <span class="list-item-title-icon-wrapper">
                      <span class="list-item-title">Link lista collassabile</span>
                      <it-icon name="expand" color="primary"></it-icon>
                    </span>
                  </a>
                  <it-collapse #itCollapse4="itCollapse" opened="true">
                    <it-list linkSubList="true" action>
                      <li itListItem href="#" externalLink="true">
                        <span class="text">Link lista 1</span>
                      </li>
                      <li itListItem href="#" externalLink="true">
                        <span class="text">Link lista 2</span>
                      </li>
                      <li itListItem href="#" externalLink="true">
                        <span class="text">Link lista 3</span>
                      </li>
                    </it-list>
                  </it-collapse>
                </li>
              </it-list>
            </li>
            <li itListItem>
              <it-list linkList="true">
                <li itListItem iconRight="true">
                  <a
                    class="list-item large medium icon-right"
                    role="button"
                    tabindex="0"
                    [attr.aria-expanded]="itCollapse5.isOpen()"
                    (click)="itCollapse5.toggle()"
                    (keydown)="itCollapse5.toggle()">
                    <span class="list-item-title-icon-wrapper">
                      <span class="list-item-title">Link lista collassabile</span>
                      <it-icon name="expand" color="primary"></it-icon>
                    </span>
                  </a>
                  <it-collapse #itCollapse5="itCollapse" opened="true">
                    <it-list linkSubList="true" action>
                      <li itListItem href="#" externalLink="true">
                        <span class="text">Link lista 1</span>
                      </li>
                      <li itListItem href="#" externalLink="true">
                        <span class="text">Link lista 2</span>
                      </li>
                      <li itListItem href="#" externalLink="true">
                        <span class="text">Link lista 3</span>
                      </li>
                    </it-list>
                  </it-collapse>
                </li>
              </it-list>
            </li>
          </it-list>
        </it-sidebar>
      </nav>
    </div>
  </ng-container>
</it25-header>
<main>
  <div class="container-fluid">
    <div class="row flex-xl-nowrap">
      <div class="col p-3">
        <p><a routerLink="/it25/header">Ritorno alla Documentazione </a></p>
        <div class="img-responsive-wrapper">
          <div class="img-responsive">
            <div class="img-wrapper">
              <img
                src="bootstrap-lombardia/dist/assets/img/bike-sharing.jpg"
                alt="bike sharing davanti a palazzo lombardia"
                title="bike shariing a milano" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<it25-footer acronym="ACCREDITAS" applicationName="Sistema di accreditamento">
  <ng-container></ng-container>
</it25-footer>

<p class="m-3"><a routerLink="/it25/header">Ritorno alla Documentazione </a></p>
