<nav class="navbar navbar-expand-lg py-1 px-3" style="position: sticky; top: 0; z-index: 5">
  <a class="navbar-brand py-2 text-decoration-none" href="#" aria-label="Bootstrap Lombardia Homepage" title="Bootstrap Lombardia Homepage">
    <div class="d-flex flex-row">
      <img src="../assets/img/logo-rl-bianco.png" height="50px" alt="logo regione lombardia" class="d-none d-md-block" />
      <div class="d-flex flex-column ps-3 ps-sm-4">
        <h1 class="bd-logo-title white-color">Design Angular Kit Lombardia</h1>
        <div class="bd-logo-subtitle white-color">
          Versione del Design Angular Kit Italia
          <span class="d-none d-md-inline"> per la Regione Lombardia</span>
          <span class="d-none d-xl-inline"></span>
        </div>
      </div>
    </div>
  </a>
  <ul class="navbar-nav flex-row ms-md-auto d-none d-md-flex">
    <li class="nav-item me-4">
      <a
        href="https://github.com/RegioneLombardia/design-angular-kit/releases/tag/v{{ version }}"
        aria-label="Ultima release"
        target="_blank">
        <it-icon color="white" size="sm" name="file"></it-icon>
        <span style="color: white">v{{ version }}</span>
      </a>
    </li>
    <li class="nav-item me-4">
      <a href="https://github.com/RegioneLombardia/design-angular-kit/" aria-label="Github" target="_blank">
        <it-icon color="white" size="sm" name="github"></it-icon>
      </a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="collapse" id="docsNav">
      <it-table-of-content class="col-12 d-md-none"></it-table-of-content>
    </div>
    <it-table-of-content class="d-none d-md-flex col-md-3 col-xl-2"></it-table-of-content>
    <main class="col-12 col-md-9 col-xl-10 py-md-3 px-md-3 bd-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="fw-bold">Design Angular Kit Lombardia</div>
      </div>
    </div>
  </div>
</footer>
