<h3>Standard</h3>

<div class="bd-example">
  <it25-footer acronym="ACCREDITAS" applicationName="Sistema di accreditamento">
    <ng-container links>
      <div class="row">
        <div class="col-12 mt-3">
          <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
            <li class="d-inline-block mt-3 me-2"><a href="">Privacy</a></li>
            <li class="d-inline-block mt-3 me-2"><a href="">Accessibilità</a></li>
            <li class="d-inline-block mt-3 me-2"><a href="">Cookie policy</a></li>
            <li class="d-inline-block mt-3 me-2"><a href="">Note legali</a></li>
            <li class="d-inline-block mt-3 me-2"><a href="">Contatti</a></li>
            <li class="d-inline-block mt-3 me-2"><a href="">Credits</a></li>
          </ul>
        </div>
      </div>
    </ng-container>
  </it25-footer>
</div>
