<h3>Multilogo</h3>

<div class="bd-example">
  <it25-footer acronym="ACCREDITAS" applicationName="Sistema di accreditamento">
    <ng-container logos>
      <div class="row">
        <div class="col-3">
          <div class="it25-footer-logo d-flex justify-content-center align-items-center">
            <img
              src="/bootstrap-lombardia/dist/assets/img/logo-saf-lombardia.png"
              alt="logo scuola alta formazione lombardia"
              class="img-fluid" />
          </div>
        </div>
        <div class="col-3">
          <div class="it25-footer-logo d-flex justify-content-center align-items-center">
            <img src="/bootstrap-lombardia/dist/assets/img/logo-cna-lombardia-bianco.png" alt="logo cna lombardia" class="img-fluid" />
          </div>
        </div>
        <div class="col-3">
          <div class="it25-footer-logo d-flex justify-content-center align-items-center">
            <img
              src="https://placehold.co/240x90/ebebeb/808080/?text=Logo 3 al negativo"
              class="figure-img img-fluid rounded"
              alt="Segnaposto" />
          </div>
        </div>
        <div class="col-3">
          <div class="it25-footer-logo d-flex justify-content-center align-items-center">
            <img
              src="https://placehold.co/240x90/ebebeb/808080/?text=Logo 4 al negativo"
              class="figure-img img-fluid rounded"
              alt="Segnaposto" />
          </div>
        </div>
      </div>
    </ng-container>
  </it25-footer>
</div>
