<div id="docHeaderWrapper" style="position: fixed; top: 0; width: 100%; z-index: 10; border-bottom: solid 1px lightgrey">
  <div class="it-header-slim-wrapper it25-top-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="it-header-slim-wrapper-content">
            <a class="navbar-brand" href="#">
              <img src="bootstrap-lombardia/dist/assets/img/logo-rl-bianco.png" alt="logo regione lombardia" class="d-md-none" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <it-header idCollapsable="it25-doc-nav" [showSearch]="false" [showSlim]="false" [sticky]="false" [expand]="true" [light]="true" #headerEl>
    <ng-container brand>
      <a href="#">
        <img
          src="bootstrap-lombardia/dist/assets/img/logo-rl.png"
          alt="logo regione lombardia"
          class="it25-header-logo d-none d-md-block" />
        <div class="it-brand-text" style="margin-left: 3rem">
          <div class="it-brand-title">Design Angular Kit Lombardia</div>
          <div class="bd-logo-subtitle">
            Versione del Design Angular Kit Italia
            <span class="d-none d-md-inline"> per la Regione Lombardia</span>
            <span class="d-none d-xl-inline"></span>
          </div>
        </div>
      </a>
    </ng-container>
    <div class="it-socials d-none d-md-flex" rightZone>
      <ul>
        <li>
          <a
            href="https://github.com/RegioneLombardia/design-angular-kit/releases/tag/v{{ version }}"
            aria-label="Ultima release"
            target="_blank">
            <it-icon name="file"></it-icon>v{{ version }}
          </a>
        </li>
        <li>
          <a href="https://github.com/RegioneLombardia/design-angular-kit/" aria-label="Github" target="_blank">
            <it-icon name="github"></it-icon>
          </a>
        </li>
      </ul>
    </div>
    <ng-container navItems>
      <nav id="it25-doc-nav">
        @for (item of tableOfContent; track item.label) {
          <it-navbar-item class="d-md-none">
            <it-dropdown mode="nav">
              <span button>{{ item.label }}</span>
              <ng-container list>
                @for (link of item.links; track link.label) {
                  <it-dropdown-item [externalLink]="false" [href]="link.link" (click)="headerEl.closeNavBar()">{{
                    link.label
                  }}</it-dropdown-item>
                }
              </ng-container>
            </it-dropdown>
          </it-navbar-item>
        }
      </nav>
    </ng-container>
  </it-header>
</div>
<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <it-table-of-content class="d-none d-md-flex col-md-3 col-xl-2"></it-table-of-content>
    <main class="col-12 col-md-9 col-xl-10 py-md-3 px-md-3 bd-content" style="margin-top: 135px">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="fw-bold">Design Angular Kit Lombardia</div>
      </div>
    </div>
  </div>
</footer>
